* {
    margin: 0;
    padding: 0;
}

.mainPanel {
    width: 400px;
    height: 160px;
    background-color: bisque;
}

.mainPanel .title {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    color: blue;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.mainPanel .content {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 13pt;
    color: black;
    margin-bottom: 1rem;
    padding-top: 1rem;
}